$blue: #7DA0FA;
$purple:#4747A1;
$lpurple:#7978E9;
$pink:#F3797E;
.buyer-forgot {
    padding-top: 12vh;
}

.mat-form-field {
    width: 100%;
    padding: 10px;
}

.mobile_view {
    display: none;
}

.buyer-forgot {
    background-color: #f8f8f8;
    position: relative;
}

.image {
    height: 30vw;
    width: 46vw;
}

.card {
    padding: 1%;
    margin: 15vh 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(136, 136, 136, 0.2), 0 6px 20px 0 rgba(138, 138, 138, 0.19);
}

#blogin_heading {
    margin-top: 5%;
    font-size: 300%;
    font-weight: 550;
    color: rgb(43, 43, 43);
}

.dark {
    background-color: #161625;
    color: #fff;
    .buyer-forgot {
        background-color: #161625;
    }
    #blogin_heading {
        color: #fff;
    }
    .card {
        background-color: #323f4b;
        box-shadow: none;
    }
    mat-hint {
        color: #fff;
    }
    .mat-raised-button.mat-primary.mat-button-disabled,
    .mat-raised-button.mat-button-disabled.mat-button-disabled {
        background-color: grey;
        color: #fff;
    }
    .mat-raised-button.mat-primary {
        background-color: #131417;
        color: #fff;
    }
}

.mat-flat-button.mat-primary:disabled,
.mat-raised-button.mat-primary:disabled,
.mat-fab.mat-primary:disabled,
.mat-mini-fab.mat-primary:disabled {
    background-color: #dfdfdf;
    color: white;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    background-color: #308d46;
    color: white;
}

::ng-deep .mat-checkbox-checked.mat-accent {
    .mat-checkbox-ripple .mat-ripple-element {
        background-color: #308d46 !important;
    }
    .mat-checkbox-background,
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: #308d46;
    }
}

::ng-deep .mat-checkbox.mat-accent {
    .mat-checkbox-ripple .mat-ripple-element {
        background-color: #308d46 !important;
    }
}

@media (max-width:996px) {
    .image {
        margin-top: -12vh;
        height: 32vw;
        width: 40vw;
    }
    .card {
        padding: 1%;
        margin: 10vh 0;
    }
}

@media (max-width:768px) {
    .mobile_view {
        display: block;
    }
    .blogin_heading {
        display: none;
    }
    .image {
        margin-top: 3%;
        height: 50vw;
        width: 65vw;
    }
}

@media (max-width:576px) {
    .mat-form-field {
        border-top: 1.9em !important;
        padding: 10px;
    }
    #blogin_heading {
        margin-top: 5%;
        font-size: 260%;
        font-weight: 550;
        color: rgb(43, 43, 43);
    }
    .card {
        margin: 7vh 0;
    }
}