<div class="container {{light}}">
    <nav class="navbar navbar-expand-lg {{navbarcolour}} bg-light">
        <a class="navbar-brand grow" routerLink="/home"><img src='../../../assets/images/nav-logo-black.png' height="45px" width="90px"></a>
        <a class="navbar-brand-dark grow" routerLink="/home"><img src='../../../assets/images/nav-logo-white.png' height="45px" width="90px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="itemActive">Home</a>
                <a class="nav-link" routerLink="/vendorlogin" routerLinkActive="itemActive">Vendor Login</a>
                <a class="nav-link" routerLink="/buyerlogin" routerLinkActive="itemActive">Buyer Login</a>
            </div>
        </div>
    </nav>
</div>