<app-navbar></app-navbar>

<div class="home {{light}}">
    <div class="container">
        <button class="dark-mode-toggle" (click)="toggleNav()">
            <span class="sun">
                <img alt="sun icon that represents light mode" width="35px" src="../../../assets/images/sun.svg">
            </span>
            <span class="moon">
                <img alt="moon icon to represent dark mode " width="25px" src="../../../assets/images/moon.svg">
            </span>
        </button>


        <div class="row align-items-center rows">
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                <div class="col-12 left-side">
                    <h2>Shopify</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, neque corrupti iste quia, consectetur quae assumenda explicabo rerum voluptatem hic tempore reprehenderit quod nobis officiis. Magni, amet perferendis? Corporis harum ullam impedit sed
                        accusantium deserunt soluta magnam maxime eos ut!
                    </p>
                    <a href="/home#r" class="a-link">
                        <button class="know-button">
                    Explore
                    <img src="../../../assets/images/arrow.png" class="button-image" />
                  </button>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                <div class="col-12 right-side">
                    <img src="../../../assets/images/shop-home.svg" class="controller" />
                    <img src="../../../assets/images/shop-home.svg" class="controller-dark" />
                </div>
            </div>
        </div>
        <br />
        <br>
        <br>
        <div class="container" id="r">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <h2>Vendors</h2>
                                <img src="../../../assets/images/vendor.png" class="img-fluid grow" class="image-ven" />
                                <p class="paragra-padd">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente voluptate at quo ducimus deserunt accusamus hic placeat nulla? Quos, dolor.
                                </p>
                                <a routerLink="/hospital-login"><span class="grow">Try Now</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <h2>Buyers</h2>
                                <img src="../../../assets/images/buyer.png" class="img-fluid grow" class="image-ven" />
                                <p class="paragra-padd">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At, voluptates esse totam voluptatibus culpa quia? Consequuntur culpa nulla dolorem rem.
                                </p>
                                <a routerLink="/patient-login"><span class="grow">Try Now</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="jumbotron jumbo-margin" id="whoarewe">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-4 text-center h-size">Who Are We?</h1>
                </div>
            </div>
            <div class="row align-items-center row-about-us">
                <div class="col-sm-3 col-md-3 about-img">
                    <img src="../../../assets/images/who-we-are.svg" class="img-fluid grow" />
                </div>
                <div class="col-sm-9 col-md-9 space">
                    <p class="pa-padding">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis perspiciatis repudiandae quod aperiam. Eum obcaecati ab quisquam, quibusdam architecto vero ipsum. Minima, dolorem nihil? Eum sunt doloremque labore dolorum quibusdam consequatur eos nobis
                        quia illo inventore amet cum temporibus dignissimos dolorem error, nihil aliquid incidunt at pariatur, necessitatibus adipisci ratione! Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, obcaecati.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>